body {
    font-family: 'Open Sans',Arial,sans-serif;
    margin: 6em;
    position: relative;
}

.header {
    text-align: center;
    font-size: 2em;
    margin-bottom: 5em;
}

.tree {
    font-size: 4em;
    text-align: center;
}
